
files/CV_marcos_tirador.aux
files/CV_marcos_tirador.log
files/CV_marcos_tirador.out
files/CV_marcos_tirador.synctex.gz
files/cv - computer science/
files/cv - math/
files/cv - computer science
files/cv - math